.container {

  h2 {
    font-size: 4.8rem;
    font-weight: 400;
  }
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 60rem;
  margin-left: 5rem;
  padding-right: 2rem;
  font-size: 2rem;
  line-height: 3.2rem;

  &__right {
    composes: content;
    margin-left: auto;
  }
}

.col {
  width: 50%;
}

.image {
  width: 50%;
  height: 50rem;
  background: no-repeat center;
  background-size: cover;
}