.container {

  h2 {
    font-size: 3rem;
    font-weight: 400;
  }
}

.content {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.image {
  height: 20rem;
  background: no-repeat center;
  background-size: cover;
}