.container {
  h2 {

    font-size: 4.8rem;
    line-height: 3.6rem;
    font-weight: normal;
    color: #000000;

    span {
      font-size: 2.4rem;
      color: #2a2a2f;
    }

    svg {
      color: #9B51E0;
      width: 8rem;
      height: 8rem;
      margin-right: 3rem;
      margin-bottom: -2rem;
    }
  }
}