.container {
  height: 56rem;
  width: 100%;
  background: no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 56rem;
    background: rgba(0, 0, 0, 0.68);
    z-index: 2;
  }
}

.wrapper {
  position: relative;
  z-index: 3;
}

.info {
  margin-bottom: 4.5rem;
  .number {
    font-size: 6.4rem;
    line-height: 7.5rem;
    color: #F7B100;
    margin-bottom: 3.5rem;
  }
  p {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #FFFFFF;
  }
  .socials {
    bottom: 12rem;
    height: 3rem;
    width: 12rem;
    display: flex;
    justify-content: space-between;
    a {
      width: 3rem;
      height: 3rem;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}


.icon {
  svg {
    width: 3rem;
    height: 3rem;
    color: #EAEAEA;
  }
}

.hr {
  width: 100%;
  height: 1px;
  background: #EAEAEA;
}

.brand {
  width: 100%;
  height: 8.5rem;
  margin-top: 4rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  span {

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.1rem;
    /* identical to box height */

    color: #FFFFFF;
  }
  .logo {
    height: 8.5rem;
    width: 13rem;
    background-image: url("../../static/unclespace_white.png");
    background-size: contain;
    background-repeat: no-repeat;

  }
}
